*{
	margin:0;
	padding:0;
}
@font-face{
    font-family: "Caveat";
    src: url("Caveat.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/*responsive styles*/
html{
    font-size: 100%;
    line-height: 1.5;
}
h1{
    font-size: 4rem;
    margin-bottom: 0.5rem;
    font-family: "Caveat";
}
h2{
    font-size: 3.5rem;
    line-height: .75;
    margin-bottom: 1.5rem;
    font-family: "Caveat";
}
h3{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.75rem;
    font-family: "Caveat";
}
p{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

section {
	font-family: Verdana, Geneva, sans-serif;
	width: 90%;
	margin:2em auto;
}
aside {
	float:right;
	background-color:#ededed;
	width:25%;
	padding:1.25rem 1.5rem 0;
	margin: 3rem 0 0 1rem; 
}
aside p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif
}
img {
	max-width:100%;
	height:auto;
	float: left;
	padding-right: 1em;
}